.buscador-group {
    
    display:flex;
    position:relative;
    align-items: center;

}
.buscador-group.lupita{
    position: absolute;
    justify-content: left;
    
   
}
.input-pk{
    
    height: 30px;
    padding: 2px 2px 2px 30px;
    border-radius: 15px;
    border: 1px grey solid;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), /* Sombra más cercana */
    0px 8px 12px rgba(0, 0, 0, 0.05), /* Sombra intermedia */
    0px 16px 24px rgba(0, 0, 0, 0.03); /* Sombra más lejana */
}

